#ingredients {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 2px solid black;
  text-align: center;
}
.btn:active {
  background-color: #4CAF50; /* Новый цвет при активации (нажатии) */
  color: white; /* Цвет текста при активации */
}
.product {
  background-color: #f0f0f0; /* Цвет фона для блока с продуктом */
  padding: 10px; /* Отступы внутри блока с продуктом */
}
.ingredients-list {
  list-style-type: none;
  padding: 0;
}


.ingredients-list li {
  font-size: 10px;
  margin-bottom: 10px;
  text-align: left;
}
/* Ваш текущий CSS */

#ingredients {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Ширина модального окна */
  height: 300px; /* Высота модального окна */
  background-color: #f9f1e6; /* Цвет фона - крафтовая бумага */
  padding: 20px; /* Отступ внутри модального окна */
  border: 2px solid #dcd7ca; /* Цвет рамки */
  border-radius: 10px; /* Скругление углов */
}

#ingredients-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#ingredients-list li {
  font-size: 24px;
  margin-bottom: 10px;
  border: 1px solid #3498db;
  padding: 10px;
  border-radius: 5px;
}
.item {
  /* Ваши текущие стили */
  opacity: 0.9; /* Пример значения для полупрозрачного фона */
}

#ingredients-list li:first-child {
  font-size: 28px;
  font-weight: bold;
  background-color: #FFE4B5;
  color: black;
  text-align: center;
  line-height: 1.5;
}
#ingredients {
  background-color: #ffffe0; /* Цвет фона, бледно-бледно-жёлтый */
  /* Дополнительные стили, если нужны */
}
.item {
  border: 5px solid black; /* Увеличиваем толщину рамки */
  padding: 15px;
  text-align: center;
  width: 45%;
  margin-bottom: 10px;
  background-color: white; /* Фон белого цвета */
}

#ingredients-list li:not(:first-child) {
  text-align: left;
}
.cart-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #3498db; /* Цвет фона корзины */
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
  z-index: 1;
}

.cart-items {
  text-align: left;
/* Общие стили для кнопок */
.btn {
  background-color: #87CEEB;
  color: black;
  padding: 15px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
  margin: 2px;
  width: 80%;
  font-size: 30px;
}

/* Стили для мобильных устройств (например, для экранов шириной менее 600px) */
@media only screen and (max-width: 600px) {
  .btn {
    width: 100%; /* Ширина кнопки на мобильных устройствах будет 100% */
  }
}
